* {
  font-family: 'Quicksand', sans-serif;
}
body{
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  font-size: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
 	flex-direction: column;
  /* justify-content:space-around; */
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 0;
  margin-top: 0;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 3%;
}
h1{
  width: auto;
  font-size: 2em;
  color: white;
}
h4{
  color: white;
  margin: .5em .5em .1em .5em;
  font-size: 1.2em;
}
h5{
  color: #134d71;
  margin: 0em .5em .1em .5em;
  font-size: 1.8em;
}
p{
  font-size: 1.2em;
}
.receive-message {
  color: white;
  background: #134d71;
  border-radius: 5px;
  width: 95%;
  margin: .5em;
  padding: 3px 6px 3px 6px;
}
.clear-message {
  color: #134d71;
  font-size: .95em;
  border: #134d71 solid 4px auto;
  font-weight: bold;
  background: white;
  border-radius: 5px;
  width: 100%;
}
.custom-form-container {
  width: auto;
  height: 110em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.custombutton-container {
  width: auto;
  height: 12em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
form {
  background: white;
  width: 68%;
  height: 68%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-top: 4%;
}
.form-container{
  display: flex;
  width: 68%;
  height: 90%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.add-message-button-container{
  display: flex;
  width: 69%;
  height: 25%;
  justify-content: flex-end;
  margin-top: 1%;
}
.input-box{
  height: 2.5em;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-input{
  height: 2.5em;
  width: 100%;
}
.add-message {
  font-size: .8em;
  border-radius: 5px;
  height: 3em;
  width: 18%;
  margin: .5em;
  padding: 1px 4px 1px 4px;
  white-space: normal;
  word-wrap: break-word;
}
.receive-message-button-container{
  border: 10% 10% 10% 10%;
  margin: 1%;
  width: 30%;
}
.header-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0% 0% 6% 0%;
}
.all-buttons{
  background: white;
  width: 40%;
  border-radius: 10px;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.input-buttons {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
}
.input-buttons2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 3%;
}
.message-section{
  height: 20%;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2%;
}
.image-container {
  width: 68%;
  height: 100% ;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: .3%;
}
.new-style{
  background: none;
  width: 68%;
  height: 120% ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.submit-button-container {
  margin: 2.5%;
  width: 38%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.change-text{
  font-size: 1em;
  width: 100%;
}
img {
  width: 20%;
  height: 60%;
}
.hidden {
  display: none;
}
